h1{
    color: GOLD;background-color: black;margin: 20px;padding: 20px;border: 20px;padding: 20px;
}
P{
    font-size: 40 PX;color: rgb(233, 12, 67);
}
body{
    background-color: black;
    color: aqua;border-left: 40px;margin: 40px;border: 40px;padding:20px;
}
select{
    color: purple;
}